<p id="notice"><%= notice %></p>

<p>
  <b>Plant symbol:</b>
  <%= @plant.plant_symbol %>
</p>

<p>
  <b>Synonym symbol:</b>
  <%= @plant.syn_symbol %>
</p>

<p>
  <b>Scientific name:</b>
  <%= @plant.sci_name %>
</p>

<p>
  <b>Common name:</b>
  <%= @plant.common_name %>
</p>

<p>
  <b>Plant family:</b>
  <%= @plant.plant_family %>
</p>


